
    .inlineEx{
        font-size: small;
        color: chartreuse;
    }
    #idExample{
        font-family: Arial, Helvetica, sans-serif;
        color: chocolate;
        background-color:darkgray;
    }
    #special{
        font-size: x-large;
    }







        